*{
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

.komp1 {
    width: 100%;
    height: 648px;
    background: url('images/rectangle_1.jpg');
}